
.ant-menu-vertical > .ant-menu-item {
    background: #fff;
  }
  
  :where(.css-dev-only-do-not-override-19iuou).ant-menu-inline .ant-menu-item,
  :where(.css-dev-only-do-not-override-19iuou).ant-menu-vertical .ant-menu-item,
  :where(.css-dev-only-do-not-override-19iuou).ant-menu-inline
    .ant-menu-submenu-title,
  :where(.css-dev-only-do-not-override-19iuou).ant-menu-vertical
    .ant-menu-submenu-title {
    padding-inline: 0;
    margin: 0;
    padding: 16px 20px;
    width: 100%;
    border-left: 9px solid transparent;
    font-family: "Sf Pro", sans-serif;
  }
  :where(.css-dev-only-do-not-override-19iuou).ant-menu .ant-menu-item,
  :where(.css-dev-only-do-not-override-19iuou).ant-menu .ant-menu-submenu,
  :where(.css-dev-only-do-not-override-19iuou).ant-menu .ant-menu-submenu-title {
    border-radius: 0;
    font-size: 16px;
  }
  
  :where(.css-dev-only-do-not-override-19iuou).ant-menu-light
    .ant-menu-item:not(.ant-menu-item-disabled):focus-visible,
  :where(.css-dev-only-do-not-override-19iuou).ant-menu-light
    .ant-menu-submenu-title:not(.ant-menu-item-disabled):focus-visible {
    outline: none;
  }
  :where(.css-dev-only-do-not-override-19iuou).ant-menu-inline > .ant-menu-item,
  :where(.css-dev-only-do-not-override-19iuou).ant-menu-vertical > .ant-menu-item,
  :where(.css-dev-only-do-not-override-19iuou).ant-menu-inline
    > .ant-menu-submenu
    > .ant-menu-submenu-title,
  :where(.css-dev-only-do-not-override-19iuou).ant-menu-vertical
    > .ant-menu-submenu
    > .ant-menu-submenu-title {
    height: auto;
    line-height: 20px;
    display: flex;
  }
  .ant-menu-light .ant-menu-item-selected {
    background: var(--light-grey);
    border-left: 9px solid var(--blue);
  }
  :where(.css-dev-only-do-not-override-19iuou).ant-menu
    .ant-menu-item
    .ant-menu-item-icon,
  :where(.css-dev-only-do-not-override-19iuou).ant-menu
    .ant-menu-submenu-title
    .ant-menu-item-icon {
    font-size: 20px;
  }
  .ant-menu-light .ant-menu-item-selected {
    color: var(--light-grey);
  }
  :where(.css-dev-only-do-not-override-19iuou).ant-menu-light:not(
      .ant-menu-horizontal
    )
    .ant-menu-item:not(.ant-menu-item-selected):hover {
    background: #fff;
  }

  .ant-modal .ant-modal-content {
    border-radius: 16px;
  }
  